<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.rcare.mapper.MemberMapper">
    <!-- 新建成员信息 -->
    <insert id="insert">
        INSERT INTO member (name, gender, age
            <if test="doctor != null and doctor != ''">, doctor</if>
            <if test="day != null">, day</if>
            <if test="result != null and result != ''">, result</if>
            <if test="allergy != null and allergy != ''">, allergy</if>
            <if test="healing != null and healing != ''">, healing</if>
            <if test="contact != null and contact != ''">, contact</if>
            <if test="attention != null and attention != ''">, attention</if>
            <if test="image != null and image != ''">, image</if>
            <if test="openid != null and openid != ''">, openid</if>
        ) VALUES (#{name}, #{gender}, #{age}
            <if test="doctor != null and doctor != ''">, #{doctor}</if>
            <if test="day != null">, #{day}</if>
            <if test="result != null and result != ''">, #{result}</if>
            <if test="allergy != null and allergy != ''">, #{allergy}</if>
            <if test="healing != null and healing != ''">, #{healing}</if>
            <if test="contact != null and contact != ''">, #{contact}</if>
            <if test="attention != null and attention != ''">, #{attention}</if>
            <if test="image != null and image != ''">, #{image}</if>
            <if test="openid != null and openid != ''">, #{openid}</if>
        )
    </insert>

    <!--    按更新成员信息-->
    <update id="update">
        update member
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="age != null">
                age=#{age},
            </if>
            <if test="doctor != null and doctor != ''">
                doctor=#{doctor},
            </if>
            <if test="day != null">
                day=#{day},
            </if>
            <if test="result != null and result != ''">
                result=#{result},
            </if>
            <if test="allergy != null and allergy != ''">
                allergy=#{allergy},
            </if>
            <if test="healing != null and healing != ''">
                healing=#{healing},
            </if>
            <if test="contact != null and contact != ''">
                contact=#{contact},
            </if>
            <if test="attention != null and attention != ''">
                attention=#{attention},
            </if>
            <if test="image != null and image != ''">
                image=#{image},
            </if>
            <if test="openid != null and openid != ''">
                openid=#{openid}
            </if>
        </set>
        where id=#{id}
    </update>

    <!--    按id列表删除成员-->
    <delete id="delete">
        delete from member where id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>

    <!--    条件查询-->
    <select id="list" resultMap="MemberSignResultMap">
        select member.id, rbm.room, rbm.bed, name, gender, age, doctor, day, result, allergy, healing, contact, attention, image, openid
        from member join room_bed_member rbm on member.id = rbm.member_id
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and gender=#{gender}
            </if>
            <if test="ageBegin != null and ageEnd != null">
                and age between #{ageBegin} and #{ageEnd}
            </if>
            <if test="room != null">
                and room=#{room}
            </if>
            <if test="wid != null and name != ''">
                and openid like concat('%', #{wid}, '%')
            </if>
        </where>
        order by id
    </select>

    <resultMap id="MemberResultMap" type="cn.edu.hit.rcare.pojo.Member">
        <id property="id" column="id"/>
        <result property="room" column="room"/>
        <result property="bed" column="bed"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="doctor" column="doctor"/>
        <result property="day" column="day"/>
        <result property="result" column="result"/>
        <result property="allergy" column="allergy"/>
        <result property="healing" column="healing"/>
        <result property="contact" column="contact"/>
        <result property="attention" column="attention"/>
        <result property="image" column="image"/>
        <result property="openid" column="openid"/>
    </resultMap>

    <resultMap id="SignsListResultMap" type="cn.edu.hit.rcare.pojo.SignsList">
        <result property="heart" column="heart_signs" jdbcType="VARCHAR" typeHandler="cn.edu.hit.rcare.mapper.JsonTypeHandler"/>
        <result property="respire" column="respire_signs" jdbcType="VARCHAR" typeHandler="cn.edu.hit.rcare.mapper.JsonTypeHandler"/>
        <result property="sbp" column="sbp_signs" jdbcType="VARCHAR" typeHandler="cn.edu.hit.rcare.mapper.JsonTypeHandler"/>
        <result property="dbp" column="dbp_signs" jdbcType="VARCHAR" typeHandler="cn.edu.hit.rcare.mapper.JsonTypeHandler"/>
        <result property="temper" column="temper_signs" jdbcType="VARCHAR" typeHandler="cn.edu.hit.rcare.mapper.JsonTypeHandler"/>
        <result property="ecg" column="ecg_signs" jdbcType="VARCHAR" typeHandler="cn.edu.hit.rcare.mapper.JsonTypeHandler"/>
        <result property="status" column="statuses" jdbcType="VARCHAR" typeHandler="cn.edu.hit.rcare.mapper.StatusTypeHandler"/>
    </resultMap>

    <resultMap id="MemberSignResultMap" type="cn.edu.hit.rcare.pojo.MemberSign">
        <association property="info" column="id" javaType="cn.edu.hit.rcare.pojo.Member" resultMap="MemberResultMap"/>
        <association property="signs" column="id" javaType="cn.edu.hit.rcare.pojo.SignsList" resultMap="SignsListResultMap"/>
    </resultMap>
    <select id="list_new" resultMap="MemberSignResultMap">
        SELECT
            m.id,
            m.name,
            m.gender,
            m.age,
            m.doctor,
            m.day,
            m.result,
            m.allergy,
            m.healing,
            m.contact,
            m.attention,
            m.image,
            m.openid,
            rbm.room,
            rbm.bed,
            CONCAT('[', (SELECT GROUP_CONCAT(CONCAT('{\"time\":\"', s.time, '\", \"data\":\"', FORMAT(s.data, 2), '\"}') SEPARATOR ',')
                         FROM (SELECT time, data FROM sign WHERE member_id = m.id AND type = 'heart' ORDER BY time DESC, id desc <if test="num != null">LIMIT #{num}</if>) s), ']') AS heart_signs,
            CONCAT('[', (SELECT GROUP_CONCAT(CONCAT('{\"time\":\"', s.time, '\", \"data\":\"', FORMAT(s.data, 2), '\"}') SEPARATOR ',')
                         FROM (SELECT time, data FROM sign WHERE member_id = m.id AND type = 'respire' ORDER BY time DESC, id desc <if test="num != null">LIMIT #{num}</if>) s), ']') AS respire_signs,
            CONCAT('[', (SELECT GROUP_CONCAT(CONCAT('{\"time\":\"', s.time, '\", \"data\":\"', FORMAT(s.data, 2), '\"}') SEPARATOR ',')
                         FROM (SELECT time, data FROM sign WHERE member_id = m.id AND type = 'sbp' ORDER BY time DESC, id desc <if test="num != null">LIMIT #{num}</if>) s), ']') AS sbp_signs,
            CONCAT('[', (SELECT GROUP_CONCAT(CONCAT('{\"time\":\"', s.time, '\", \"data\":\"', FORMAT(s.data, 2), '\"}') SEPARATOR ',')
                         FROM (SELECT time, data FROM sign WHERE member_id = m.id AND type = 'dbp' ORDER BY time DESC, id desc <if test="num != null">LIMIT #{num}</if>) s), ']') AS dbp_signs,
            CONCAT('[', (SELECT GROUP_CONCAT(CONCAT('{\"time\":\"', s.time, '\", \"data\":\"', FORMAT(s.data, 2), '\"}') SEPARATOR ',')
                         FROM (SELECT time, data FROM sign WHERE member_id = m.id AND type = 'temper' ORDER BY time DESC, id desc <if test="num != null">LIMIT #{num}</if>) s), ']') AS temper_signs,
            CONCAT('[', (SELECT GROUP_CONCAT(CONCAT('{\"time\":\"', s.time, '\", \"data\":\"', FORMAT(s.data, 2), '\"}') SEPARATOR ',')
                             FROM (SELECT time, data FROM sign WHERE member_id = m.id AND type = 'ecg' ORDER BY time DESC, id desc LIMIT 1024) s), ']') AS ecg_signs,
                (SELECT GROUP_CONCAT(CONCAT('{\"chestPain\":\"', st.chest_pain, '\", \"exerciseAngina\":\"', st.exercise_angina, '\", \"heartDisease\":\"', st.heart_disease, '\"}') SEPARATOR ',')
                             FROM sign_table_temp st WHERE st.member_id = m.id) AS statuses
        FROM
            member m
                JOIN
            room_bed_member rbm ON m.id = rbm.member_id
        WHERE
            (#{name} IS NULL OR m.name LIKE CONCAT('%', #{name}, '%'))
          AND (#{gender} IS NULL OR m.gender = #{gender})
          AND (#{ageBegin} IS NULL OR #{ageEnd} IS NULL OR m.age BETWEEN #{ageBegin} AND #{ageEnd})
          AND (#{room} IS NULL OR rbm.room = #{room})
          AND (#{wid} IS NULL OR m.openid LIKE CONCAT('%', #{wid}, '%'))
        ORDER BY
            m.id
    </select>
</mapper>